body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background: #333333;
    text-align: center;
}
    

h1 {
    color: #eee;
    font-size: 28px;
}

.container {
    width: 1024px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 24px;
    }

#main-bio, #contact-info, #bio-image {
        float: left;
}

#bio-image {
    width: 200px;
    margin: 10px;
    text-overflow: clip;
}

#main-bio {
    width: 70%;
}

#content-info {
    width: 30%;
    color: #d21034;
}

