a {
    font-family: monospace;
    font-size: small;
}


a:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    background: teal;
}

a:visited {
    font-size: 50px;
    color: thistle;
}